{{ header }}

<div class="container-inner">
	<div class="section wide">
		<div class="max-width">
			<div class="breadcrumbs">
				<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
					{% for i in breadcrumbs %}
					<li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
						<a href="{{ i.href }}" itemprop="item"><span itemprop="name">{{ i.text }}</span></a>
						<meta itemprop="position" content="{{ loop.index }}" />
					</li>
					{% endfor %}
				</ol>
			</div>
			<div class="gallery-item-wrapper">
				<div class="swiper-container">
					<a href="my_favorites.php" class="to-favorites" data-id="{{ product_id }}"></a>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="img">
								<img src="{{ popup }}">
							</div>
						</div>
						{% for i in images %}
						<div class="swiper-slide">
							<div class="img">
								<img src="{{ i.popup }}">
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="product-info product-data" data-id="{{ product_id }}">
					<div class="product-name">{{ name }}</div>
					<div class="product-description">{{ description }}</div>
					<div class="product-price"><label>{{ __( 'Price' ) }}:</label><span>{{ special ?: price }}</span></div>
					<div class="product-options">
						{% if your_size is not empty %}
						<div class="option">
							<label>{{ your_size.name }}:</label>
							<div class="field">
								<input type="text" value="{{ your_size.value }}" class="decimal your-size" data-id="{{ your_size.product_option_id }}"/>
								<span>mm</span>
								<a href="#" class="size-guide" data-popup="size-guide">{{ __( 'size guide' ) }}</a>
							</div>
						</div>
						{% endif %}
						<div class="option">
							<label>{{ __( 'Quantity' ) }}:</label>
							<div class="field field-counter">
								<div class="minus">-</div>
									<input type="text" value="1" maxlength="2" class="decimal product-quantity"/>
								<div class="plus">+</div>
							</div>
						</div>
					</div>
					<a href="#" class="add-to-cart">{{ __( 'add to cart' ) }}</a>
					<a href="constructor_step_4.php" class="more"><span></span>{{ __( 'edit in constructor' ) }}</a>
				</div>
			</div>
			{% if products is not empty %}
			<div class="gallery-other-wrapper" data-size="5" data-size-1="4" data-size-2="3" data-size-3="2">
				<div class="title">{{ __( 'You may also like' ) }}
					<div class="gallery-controls">
						<div class="swiper-prev"><span></span></div>
						<div class="swiper-next"><span></span></div>
					</div>
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% set l_index = 0 %}
						{% for product in products %}
						<div class="swiper-slide">
							<div class="product-item">
								<a href="#" class="to-favorites" data-id="{{ product.product_id }}"></a>
								<a href="{{ product.href }}" class="img">
									<img src="{{ product.thumb }}">
									<div class="img-action">
										<span data-popup="quick-view-{{ l_index }}">{{ __( 'quick view' ) }}</span>
										<span>{{ __( 'shop' ) }}</span> 
									</div>
								</a>
								<a href="gallery_item.php" class="product-name">{{ product.name }}</a>
								<div class="product-price"><span>{{ special ?: price }}</span></div>
							</div>
						</div>
						{% set l_index = l_index + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			{% if viewed is not empty %}
			<div class="gallery-other-wrapper" data-size="5" data-size-1="4" data-size-2="3" data-size-3="2">
				<div class="title">{{ __( 'Recently viewed' ) }}
					<div class="gallery-controls">
						<div class="swiper-prev"><span></span></div>
						<div class="swiper-next"><span></span></div>
					</div>
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% for product in viewed %}
						<div class="swiper-slide">
							<div class="product-item">
								<a href="#" class="to-favorites" data-id="{{ product.product_id }}"></a>
								<a href="{{ product.href }}" class="img">
									<img src="{{ product.thumb }}">
									<div class="img-action">
										<span data-popup="quick-view-{{ loop.index }}">{{ __( 'quick view' ) }}</span>
										<span>{{ __( 'shop' ) }}</span> 
									</div>
								</a>
								<a href="gallery_item.php" class="product-name">{{ product.name }}</a>
								<div class="product-price"><span>{{ special ?: price }}</span></div>
							</div>
						</div>
						{% set l_index = l_index + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% set l_index = 0 %}
{% for product in products %}
{{ include( 'arbole/template/product/quick_view.twig' ) }}
{% set l_index = l_index + 1 %}
{% endfor %}

{% for product in viewed %}
{{ include( 'arbole/template/product/quick_view.twig' ) }}
{% set l_index = l+index + 1 %}
{% endfor %}

{{ footer }}
