<div class="popup" id="quick-view-{{ loop.index }}">
	<div class="popup-outer">
		<div class="popup-inner">
			<div class="popup-body">
				<div class="close"></div>
				<div class="quick-wrapper">
					<div class="swiper-container">
						<a href="my_favorites.php" class="to-favorites" data-id="{{ product.product_id }}"></a>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img">
									<img src="{{ product.thumb }}">
								</div>
							</div>
							{% for i in product.images %}
							<div class="swiper-slide">
								<div class="img">
									<img src="{{ image( i.image ) }}">
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-prev"><span></span></div>
						<div class="swiper-next"><span></span></div>
					</div>
					<div class="product-info product-data" data-id="{{ product.product_id }}">
						<div class="product-name">{{ product.name }}</div>
						<div class="product-price"><label>Price:</label><span>{{ product.special ?: product.price }}</span></div>
						<div class="product-options">
							<div class="option">
								<label>{{ product.your_size.name }}:</label> 
								<div class="field">
									<input class="your-size" type="text" data-id="{{ product.your_size.product_option_id}}" value="{{ product.your_size.value }}" class="decimal"/>
									<span>mm</span>
									<a href="#" class="size-guide" data-popup="size-guide">{{ __( 'size guide' ) }}</a>
								</div>
							</div>
							<div class="option">
								<label>{{ __( 'Quantity:' ) }}</label>
								<div class="field field-counter">
									<div class="minus">-</div>
									<input class="product-quantity" type="text" value="1" maxlength="2" class="decimal"/>
									<div class="plus">+</div>
								</div>
							</div>
						</div>
						<a href="#" class="add-to-cart">{{ __( 'add to cart' ) }}</a>
						<a href="{{ product.href }}" class="more"><span></span>{{ __( 'view details' ) }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>