{% for product in products %}
<div class="product-item">
	<input type="radio" name="type" class="input-product" id="product-{{ product.product_id }}" value="{{ product.product_id }}"/>
	<label for="product-{{ product.product_id }}">
		<div class="img">
			<img src="{{ product.thumb }}">
			<div class="img-action">
				<a href="#" data-popup="zoom-{{ product.product_id }}"><img src="{{ image('arbole/zoom.png' ) }}"></a>
				<a href="#">{{ __( 'add' ) }}</a>
			</div>
		</div>
	</label>
	<a href="{{ u( 'product/product', { product_id: product.product_id }, 'SSL' ) }}" class="product-name">{{ product.name|html_decode }}</a>
	<div class="product-price"><span>{{ product.special ?: product.price }}</span></div>
</div>

<div class="popup" id="zoom-{{ product.product_id }}">
	<div class="popup-outer">
		<div class="popup-inner">
			<div class="popup-body">
				<div class="close"></div>
				<div class="zoom-wrapper">
					<div class="product-name">{{ product.name }}</div>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img">
									<img src="{{ product.thumb }}">
								</div>
							</div>
							{% for i in product.images %}
							<div class="swiper-slide">
								<div class="img">
									<img src="{{ image( i.image ) }}">
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-prev"><span></span></div>
						<div class="swiper-next"><span></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}