{{ header }}

		<div class="container-inner">
		  <div class="constructor-wrapper">
		    {{ include( 'arbole/template/common/rotate.twig' ) }}
		    <div class="step-wrapper">
			<div class="title jewelery-name" style="display: none;">
				<input id="product-name" type="text" placeholder="My Jewellery"/>
			</div>
		      <div class="title constructor-title"><span>1</span>{{ __( 'My jewelery' ) }}</div>
		      <div class="jewellery-type">
		      	{% for i in categories %}
		        <div class="type">
		          <input type="radio" value="{{ i.id }}" name="type" id="category-{{ i.id }}"  class="input-category"/>
		          <label for="category-{{ i.id }}">
		            <div class="img"><img src="{{ image( i.render ) }}"></div>
		            <p>{{ i.name }}</p>
		          </label>
		        </div>
		    	{% endfor %}
		      </div>
		      <div class="btns">
		        <button class="go-to-step2" disabled><span></span>{{ __( 'next step' ) }}</button>
		      </div>
		    </div>
		    {{ include( 'arbole/template/constructor/sidebar.twig' ) }}
		  </div>
		</div>
	</body>
</html>
