{{ header }}

<div class="container-inner">
	<div class="constructor-wrapper" data-max-weight="{{ max_weight }}" data-max-length="{{ max_length }}">
		{{ include( 'arbole/template/common/rotate.twig' ) }}
		<div class="step-wrapper">
			<div class="title jewelery-name">
				<input id="product-name" type="text" placeholder="My Jewelery" data-material="{{ material }}" data-name="{{ name }}"/>
				<p>{{ __( 'You can add the name of your future jewelry' ) }}</p>
			</div>
			<div class="canvas canvas-{{ type|lower }}" data-place="{{ preview_left }}, {{ preview_top }}">
				<div class="scrollbar-outer">
					<div class="basement">
						<img src="{{ popup }}">
						<canvas id="canvas" class="part-place"></canvas>
					</div>
					<div class="final-img model-{{ type|lower }}" style="background-image: url('{{ image( preview_bg ) }}')"><img src=""></div>
				</div>
			</div>
			<div class="zoom-controls">
				<div class="zoom-out"><img src="{{ image( 'arbole/zoom-out.png' ) }}"></div>
					<span>{{ __( 'Zoom' ) }}</span>
				<div class="zoom-in"><img src="{{ image( 'arbole/zoom-in.png') }}"></div>
			</div>
			<div class="constructor-total-wrapper">
				<div class="constructor-total-price"><label>{{ __( 'Price' ) }}:</label><span id="total-price"><i>300</i> $</span></div>
				<div class="constructor-total-weight"><label>{{ __( 'Weight' ) }}:</label><span id="total-weight"><i>300</i> g</span></div>
			</div>
			<a href="#" class="constructor-complete">{{ __( 'Complete' ) }}</a>
		</div>

		<div class="constructor-edit-sidebar">
			<div class="title">{{ __( 'my jewelery design' ) }}:</div>
			<div class="edit-steps">
				<a href="#" class="edit-step go-to-step1 {{ is_active( 'constructor/step1' ) ? 'active' }} hidden">
					{% if is_active( 'constructor/step1' ) %}
					<span><img src="{{ image( 'arbole/edit.png' ) }}"></span>
					{% else %}
					<span class="sidebar-number">1</span>
					<span class="sidebar-bullet" style="display:none;"><img src="{{ image( 'arbole/edit-available.png') }}"></span>
					{% endif %}
					{{ __( 'My jewelery' ) }}
				</a>
				<a href="#" class="edit-step go-to-step2 {{ is_active( 'constructor/step2' ) ? 'active' }} hidden">
					{% if is_active( 'constructor/step2' ) %}
					<span><img src="{{ image( 'arbole/edit.png' ) }}"></span>
					{% else %}
					<span class="sidebar-number">2</span>
					<span class="sidebar-bullet" style="display:none;"><img src="{{ image( 'arbole/edit-available.png') }}"></span>
					{% endif %}
					{{ __( 'My jewelery model' ) }}
				</a>
				<a href="#" class="edit-step go-to-step3 {{ is_active( 'constructor/step3' ) ? 'active' }} hidden">
					{% if is_active( 'constructor/step3' ) %}
					<span><img src="{{ image( 'arbole/edit.png' ) }}"></span>
					{% else %}
					<span class="sidebar-number">3</span>
					<span class="sidebar-bullet" style="display:none;"><img src="{{ image( 'arbole/edit-available.png') }}"></span>
					{% endif %}
					{{ __( 'My jewelery material' ) }}
				</a>
				<a href="#" class="edit-step go-to-step4 {{ is_active( 'constructor/step4' ) ? 'active' }}">
					{% if is_active( 'constructor/step4' ) %}
					<span><img src="{{ image( 'arbole/edit.png' ) }}"></span>
					{% else %}
					<span class="sidebar-number">4</span>
					<span class="sidebar-bullet" style="display:none;"><img src="{{ image( 'arbole/edit-available.png') }}"></span>
					{% endif %}
					{{ __( 'My unique design' ) }}
					<div class="parts-toggler active"><span></span></div>
				</a>
		        <div class="parts-wrapper visible">
					<div class="part-view">
						<div class="close"></div>
						<div class="img">
							<img src="">
						</div>
						<div class="part-options">
							<div class="option part-name">
								<label>Name:</label>
								<span>Gold Plated Regular Ring</span>
							</div>
							<div class="option part-size">
								<label>Size:</label>
								<span>1.7x2.5 cm</span>
							</div>
							<div class="option part-weight">
								<label>Weight:</label>
								<span><i>8.00</i> gr</span>
							</div>
						</div>
						<div class="part-price"><label>Price:</label><span><i>10</i> $</span></div>
					</div>
					<div id="filter-collection">
						{{ collections }}
					</div>
				</div>
				<a href="#" class="edit-step step-5 hidden">
					<span>5</span>
					{{ __( 'My order' ) }}
				</a>
				<div class="product-info product-data" data-id="{{ product_id }}">
					<div class="product-name"><label>{{ __( 'Description' ) }}:</label><span>{{ name }}</span></div>
					<div class="product-options">
						{% for s in size %}
							<div class="option">
								<label>{{ s.name }}:</label> 
								<div class="field">
									<input class="your-size decimal" type="text" data-id="{{ s.product_option_id }}" value="{{ s.value }}" min="{{ s.min }}" max="{{ s.max }}"/>
									<span>mm</span>
									<a href="#" class="size-guide" data-popup="size-guide">{{ __( 'size guide' ) }}</a>
								</div>
							</div>
						{% endfor %}
						<div class="option">
							<label>{{ __( 'Quantity' ) }}:</label>
							<div class="field field-counter">
								<div class="minus">-</div>
								<input type="text" value="1" maxlength="2" class="decimal product-quantity"/>
								<div class="plus">+</div>
							</div>
						</div>
					</div>
					<div class="product-price"><label>Price:</label><span><i>100</i> $</span></div>
					<div class="btns">
						<a href="#" class="add-to-cart">{{ __( 'add to cart' ) }}</a>
						<a href="#" class="save">+ {{ __( 'save to my designs' ) }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup" id="image-zoom">
  <div class="popup-outer">
    <div class="popup-inner">
      <div class="popup-body">
        <div class="zoom-popup">
          <div class="close"></div>
          <div class="image-zoom">
            <div class="img"><img src=""></div>
          </div>
          <div class="range"><input type="range" value="1" min="1" max="2" step="0.05"></label></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery('body').addClass('step-4-page');
$( document ).delegate( ".filter select", "change", function() {
	$( "#filter-collection" ).load( $( this ).find( "option:selected" ).attr( "data-url" ), function() {
		$(".part-img").draggable({ 
		containment: "document",
		appendTo: "body",
		scroll: false,
		cursor: '-webkit-grabbing',
		revert: function (obj) {
		$('.canvas-container').removeClass('hover');
		if(!obj){
		return true;
		}else{
		return false;
		}
		dragPrice = 0;
		dragWeight = 0;
		},
		revertDuration: 200,
		helper: 'clone',
		start: function(){
		dragPrice = $(this).parent().attr('data-price');
		dragWeight = $(this).parent().attr('data-weight');
		dragImg = $(this).parent().attr('data-src');
		$('.canvas-container').addClass('hover');
		}
		});
	} );
} );
</script>
</body>
</html>
