<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
	<head>
		{{ include( 'arbole/template/common/meta.twig' ) }}
	</head>
	<body class="">
		{{ include( 'arbole/template/common/size_guide.twig' ) }}
		<div class="header">
			<a href="/" class="logo">
				<i><img src="{{ image( 'arbole/logo-icon.svg' ) }}"/></i>
				<span><img src="{{logo_text}}"/></span>
			</a>
			<div class="menu-wrapper">
				<ul>
					<li {{ is_active( 'constructor/step1' ) ? 'class="active"' }}>
						<a href="{{ u( 'constructor/step1' ) }}">{{ __( 'design your own' )|e }}</a>
					</li>
					<li {{ is_active( 'product/category' ) ? 'class="active"' }}>
						<a href="{{ u( 'product/category' ) }}">{{ __( 'gallery store' )|e }}</a>
					</li>
					<li {{ is_active( 'information/about' ) ? 'class="active"' }}>
						<a href="{{ u( 'information/about' ) }}">{{ __( 'About Us' )|e }}</a>
					</li>
					<li {{ is_active( 'information/faq' ) ? 'class="active"' }}>
						<a href="{{ u( 'information/faq' ) }}">{{ __( 'faq' )|e }}</a>
					</li>
					<li class="mobile-link" {{ is_active( 'account/' ) ? 'class="active"' }}>
						<a href="{{ u( 'accoutn/edit' ) }}">{{ __( 'My account' )|e }}</a>
					</li>
					<li class="mobile-link search-link"><a href="#">{{ __( 'Search' )|e }}</a></li>
				</ul>
				{{ currency }}
				<div class="login-toggler">
		          {% if customer_name %}
		          <a href="{{ u( 'account/edit' ) }}"><img src="{{ image('arbole/user2.png') }}"/><span>Hi, </span>{{ customer_name }}</a>
		          {% else %}
		          <a href="{{ u( 'account/login' ) }}">{{ __( 'LOGIN' ) }}</a>
		          {% endif %}
		        </div>
			</div>
			<div class="menu-toggler"><img src="{{ image('arbole/ham.png') }}"/>
				<img src="{{ image('arbole/cross.png') }}"/>
			</div>
		</div>
		<div class="search-wrapper">
			<div class="close"></div>
			<div class="title">{{ __( 'Start searching' )|e }}</div>
			<form action="/" method="get">
				<div class="field">
					<input type="hidden" name="route" value="product/search">
					<input type="text" placeholder="Find jewellery" name="search"/>
					<button><img src="{{ image( 'arbole/search.png' ) }}"/></button>
				</div>
			</form>
		</div>
		<div class="cart-sidebar">
		{{ cart }}
		</div>
		<div class="right-sidebar">
			<ul class="user-menu">
				<li class="cart-toggler"><a href="#"><img src="{{ image('arbole/cart.png') }}"/><span id="cart-quantity">{{ cart_quantity }}</span></a></li>
				<li class="favorites-toggler"><a href="{{ u( 'account/wishlist' ) }}"><img src="{{ image( 'arbole/heart.png' ) }}"/></a></li>
				<li class="search-toggler"><a href="#"><img src="{{ image( 'arbole/search.png' ) }}"/><img src="{{ image( 'arbole/cross.png' ) }}"/></a></li>
			</ul>
		</div>
		<div><div id="content"></div></div>


