<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/jquery-ui.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" media="screen" href="catalog/view/theme/arbole/stylesheet/main.min.css" />
<link type="text/css" rel="stylesheet" media="screen" href="catalog/view/theme/arbole/stylesheet/style.css" />
<link href="catalog/view/theme/arbole/stylesheet/advertikon/advertikon.css" rel="stylesheet" type="text/css" />
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/fabric.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/customiseControls.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/functions.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/jquery.panzoom.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/main.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/swiper.jquery.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/swiper.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/utils.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/advertikon/advertikon.js" type="text/javascript"></script>
<script src="catalog/view/javascript/arbole/script.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" {{ link.type ? "type=\"#{link.type}\"" }} {{ link.style ? "type=\"#{link.style}\"" }}/>
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#4285f4">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#4285f4">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" type="image/png" href="{{ image( 'arbole/fav.png' ) }}" />
<link rel="icon" style="@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)" type="image/png" href="{{ image( 'arbole/fav@2x.png' ) }}" />