<div class="popup" id="size-guide">
	<div class="popup-outer">
		<div class="popup-inner">
			<div class="popup-body">
				<div class="size-guide-popup">
					<div class="close"></div>
					<div class="title">{{ __('Size Guide')|e }}</div>
					<p>{{ __( 'Also you can use this site:' )|e }} <a href="http://findmyringsize.com/" target="_blank">findmyringsize.com</a></p>
					<table>
						<tr>
							<th colspan="2">{{__( 'INSIDE DIAMETER' )|e }}</th>
							<th colspan="2">{{ __( 'INSIDE CIRCUMFERENCE' )|e }}</th>
							<th colspan="4">{{ __( 'SIZES' )|e }}</th>
						</tr>
						<tr>
							<td>inches</th>
							<td>mm</td>
							<td>inches</th>
							<td>mm</td>
							<td>US & Canada</td>
							<td>Uk, Ireland & Australia</td>
							<td>Japan</td>
							<td>US & Canada</td>
						</tr>
						{% for i in 1..20 %}
						<tr>
							<td>0,459</th>
							<td>11,64</td>
							<td>1,459</th>
							<td>23,64</td>
							<td>0</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>