<!doctype html>
<html>
  <head>
  <title>Arbole</title>
  {{ include ( 'arbole/template/common/meta.twig' ) }}
  </head>
  <body>
    <div class="header">
      <a href="index.php" class="logo">
        <i><img src="{{ image( 'arbole/logo-icon.svg') }}"/></i>
        <span><img src="{{ image( 'arbole/logo-text.svg' ) }}"/></span>
      </a>
    </div>
    <form class="login-wrapper" method="post" action="{{ action }}">
      <div class="col">
        <p><strong>SIGN UP</strong></p>
        <div class="form">
          <div class="field">
            <label>E-mail</label>
            <input type="text" name="email" value="{{ email }}">
            <p class="error-text">{{ error_email }}</p>
          </div>
          <div class="field">
            <label>First name</label>
            <input type="text" name="firstname" value="{{ firstname }}" >
            <p class="error-text">{{ error_firstname }}</p>
          </div>
          <div class="field">
            <label>Last name</label>
            <input type="text" name="lastname" value="{{ lastname }}">
            <p class="error-text">{{ error_lastname }}</p>
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" value="{{ password }}">
            <p class="error-text">{{ error_password }}</p>
          </div>
          <div class="field">
            <label>Confirm password</label>
            <input type="password" name="confirm" value="{{ confirm }}">
            <p class="error-text">{{ error_confirm }}</p>
          </div>
          <button><span></span>SIGN UP</button>
        </div>
      </div>
    </form>
    {{ include( 'arbole/template/common/script.twig' ) }}
    <script type="text/javascript">$( ".error-text" ).show();</script>
  </body>
</html>