<div class="account-sidebar">
	<ul>
		<li>
			<a href="{{ u( 'account/designs' ) }}" class="account-designs">{{ __( 'My designs' ) }}</a>
		</li>
		<li>
			<a href="{{ u( 'account/edit' ) }}" class="account-details">{{ __( 'Details' ) }}</a>
		</li>
		<li>
			<a href="{{ u( 'account/order' ) }}" class="account-purchases">{{ __ ( 'Orders' ) }}</a>
		</li> 
		<li>
			<a href="{{ u( 'account/logout' ) }}" class="account-logout">{{ __( 'Logout' ) }}</a>
		</li>
	</ul>
</div>