{{header }}{{column_left}}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-theme-default" data-toggle="tooltip" title="{{ __( 'Save' ) }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{cancel|e('url')}}" data-toggle="tooltip" title="{{ __( 'Cancel' ) }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumbs in breadcrumb %}
        <li><a href="{{breadcrumb.href|e('url')}}">{{breadcrumb.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ __( 'Edit' ) }}</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
            	<a href="#general-tab" role="tab" data-toggle="tab">{{ __( 'General' ) }}</a>
            </li>
            <li role="presentation" class=>
            	<a href="#home-tab" role="tab" data-toggle="tab">{{ __( 'Home page' ) }}</a>
            </li>
            <li role="presentation" class=>
            	<a href="#footer-tab" role="tab" data-toggle="tab">{{ __( 'Footer' ) }}</a>
            </li>
        </ul>

        <form action="{{action}}" method="post" enctype="multipart/form-data" id="form-theme-default" class="form-horizontal">

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general-tab">
                    {{ status }}
                    {{ material }}
                    {{ your_size  }}

                </div>
                <!-- _________________________________Home tab____________________________________  -->

                <div role="tabpanel" class="tab-pane" id="home-tab">
                    <fieldset>
                        <legend>{{ __( 'Video section' ) }}</legend>
                        {{ hp_v_url }}
                        {{ hp_v_header1|html_decode }}
                        {{ hp_v_header2|html_decode }}
                        {{ hp_v_button }}
                    </fieldset>
                    <fieldset>
                        <legend>{{ __( 'How it works' ) }}</legend> 
                        {{ hp_hiw_header|html_decode }}
                        {{ hp_hiw_steps }}
                    </fieldset>
                    <fieldset>
                        <legend>{{ __( 'Galley' ) }}</legend>
                        {{ hp_g_header|html_decode }}
                        {{ hp_g_button|html_decode }}
                    </fieldset>
                    <fieldset>
                        <legend>{{ __( 'About' ) }}</legend>
                        {{ hp_a_header|html_decode }}
                        {{ hp_a_header_text|html_decode }}
                        {{ hp_a_text_html_decode }}
                        {{ hp_a_button_html_decode }}
                        {{ hp_a_image1 }}
                        {{ hp_a_image2 }}
                    </fieldset>
                    <fieldset>
                        <legend>{{ __( 'Reviews' ) }}</legend>
                        {{ hp_r_header|html_decode }}
                        {{ hp_review }}
                    </fieldset>
                </div>

                 <div role="tabpanel" class="tab-pane" id="footer-tab">
                 	{{ footer_text }}
                    <fieldset>
                        <legend>{{ __( 'Links' ) }}</legend>
                        {{ footer_links }}
                    </fieldset>
                    <fieldset>
                        <legend>{{ __( 'Contact form' ) }}</legend>
                        {{ footer_cf_header }}
                        {{ footer_cf_button }}
                    </fieldset>
                </div>

            </div>
        </form>
        </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>
<script>
ADK.locale = {{ locale }};

$( document ).delegate( ".add-line", "click", addLine );
$( document ).delegate( ".remove-line", "click", removeLine );

function addLine() {
    var
        me  = $( this ),
        next = me.attr( "data-count" ),
        name = me.attr( "data-name" );

    if ( typeof next === "undefined" ) {
        console.error( "Count is missing" );
        return;
    }

    if ( typeof name === "undefined" ) {
        console.error( "Name is missing" );
        return;
    }

    if ( typeof ADK.locale[ name ] === "undefined" ) {
        console.error( "Template is missing" );
        return;
    }

    me.closest( ".template-container" ).
        find( ".template-content" )
        .append( ADK.locale[ name ].replace( /{id}/g, next ) );
    me.attr( "data-count", ++next );
}

function removeLine() {
    var me = $( this );

    ADK.confirm( 'Remove item' ).yes( function() {
        me.closest( ".template-line" ).remove();
    } );
}


</script>